anyio==4.15.1
backports.zstd==1.7.0
brotli==1.2.0
click==8.5.0
duckdb==1.5.5
exceptiongroup==1.3.1
h11==0.16.0
h2==4.4.1
hpack==4.2.0
httpcore2==2.13.0
httpx2==2.13.0
humanize==4.16.0
hyperframe==6.1.0
idna==3.20
loguru==0.7.3
numpy==2.2.6
pandas==2.3.3
pyarrow==25.0.1
python-dateutil==2.9.0.post0
pytz==2026.3.post1
six==1.17.0
socksio==1.0.0
tqdm==4.70.1
truststore==0.10.4
typing_extensions==4.16.0
tzdata==2026.4
zenodo-get==3.1.0
